.ingredientList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ingredientList li {
  display: flex;
  gap: 0.25rem;
  font-size: 1.15em;
  font-weight: 500;
  list-style: none;
}

.ingredientList li i {
  height: 2rem;
}

.ingredientList li p {
  line-height: 2rem;
}
