.recipeDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 90%;
  max-width: 1280px;
  min-height: 100vh;
  padding: 2rem 0;
}

.recipeDetailMainContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.mainContainerImgSection,
.mainContainerInfoSection {
  width: 50%;
}

.mainContainerImgSection {
  position: relative;
  overflow: hidden;
  height: 25rem;
  border-radius: 8px;
}

.mainContainerInfoSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.mainContainerInfoSection p {
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  color: #38bdf8;
}

.mainContainerInfoSection h1 {
  font-size: 3em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoSectionActions {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.infoSectionActions button,
.infoSectionActions a {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 8px;
}

.infoSectionActions a {
  text-align: center;
}

.infoSectionActions a:nth-of-type(1) {
  background: linear-gradient(
    to bottom right,
    rgb(192, 132, 252) 35%,
    rgb(147, 51, 234) 100%
  );
}

.infoSectionActions a:nth-of-type(2) {
  background: linear-gradient(
    to bottom right,
    rgb(251, 113, 133) 35%,
    rgb(225, 29, 72) 100%
  );
}

.recipeDetailIngredients {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.ingredientsHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2.25em;
}

.ingredientsHeader svg {
  color: #e11d48;
}

.ingredientsHeader h2 {
  font-size: 1em;
}

@media screen and (max-width: 1010px) {
  .recipeDetailMainContainer {
    flex-direction: column-reverse;
  }

  .mainContainerImgSection,
  .mainContainerInfoSection {
    width: 100%;
  }

  .infoSectionActions {
    flex-wrap: wrap;
  }
}
